<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/base :: common_header (~{::title},~{::link})}">
    <meta charset="UTF-8">
    <title>짜툴 : 마이페이지</title>
    <link rel="stylesheet" th:href="@{/css/member/mypage.css}"/>
</head>
<script th:src="@{/js/member/mypage.js}"></script>
<body>
<div th:insert="~{fragment/navigation :: copy}"></div>

<div class="mypage-bar">
    회원 정보 수정
</div>

<div class="mypage-content">
    <div class="mypage-menu-bar">
        <div class="mypage-menu" th:onclick="reload([[${link}]], [[${memberId}]])">
            회원 정보 수정
        </div>

        <div class="mypage-menu" th:onclick="goResult([[${link}]], [[${memberId}]], '1')">
            내가 푼 테스트
        </div>

        <div class="mypage-menu" th:onclick="goTest([[${link}]], [[${memberId}]], 'date', '1')">
            내가 만든 테스트
        </div>

        <div class="mypage-menu">
            회원 탈퇴
        </div>
    </div>

    <div class="mypage-content-page">
        <div class="member-info-form">
            회원 정보 수정 폼 넣어주세요
        </div>
    </div>
</div>

<footer>푸터 가져오기</footer>
</body>
</html>